.barrasContainer {
    background-color: black;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    margin: 20px;
    height: 68px;
}

.barrasContainer > div {
    display: grid;
    grid-template-columns: repeat(55, 1fr);
}

.barra {
    height: 30px;
    margin: 2px;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

.red {
    background-color: red;
}