.actionContainer {
    display: flex;
    width: 100%;
}

.actionButton {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100px;
    height: 100px;
}