.relogioContainer {
    padding: 10px;
    border: black solid 1px;
    border-radius: 5px;
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}

.relogioContainer > h2{
    width: auto;
    transform: translateY(-130%);
    position: absolute;
    top: 0px;
    left: 10px;
    padding-left: 5px;
    padding-right: 5px;
    background: white;
}

.relogioTexto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.relogioTexto > span:first-child{
    display: flex;
    font-size: xx-large;
    font-weight: bold;
}

.relogioAnalogico {
    margin-left: 10px;
}