.campo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

.campo > span {
    font-weight: bold;
    margin-left: 5px;
}

.gridTemplate {
    display: grid;
    gap: 5%;
    grid-template-areas: "dia min espace"
                         "pasta pasta pasta";
}

.diaArea {
    grid-area: dia;
}
.diaArea > div {
    width: 100px;
}
.minArea {
    grid-area: min;
}
.minArea > div {
    width: 120px;
}
.espaceArea {
    grid-area: espace;
}
.pastaArea {
    grid-area: pasta;
}
.pastaArea > div {
    margin: 20px 0px;
}