.gravadorContainer {
    padding: 10px;
    border: black solid 1px;
    border-radius: 5px;
    margin: 20px;
}

.gravadorContainer > h2{
    width: auto;
    transform: translateY(-130%);
    position: absolute;
    top: 20px;
    left: 30px;
    padding-left: 5px;
    padding-right: 5px;
    background: white;
}

.gravadorContainer > div {
    position: relative;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gravadorContainer > div > h3{
    width: auto;
    transform: translateY(-140%);
    position: absolute;
    top: 0;
    left: 10px;
    padding-left: 5px;
    padding-right: 5px;
    background: white;
}

.nivelEntradaCotainer{
    border: black solid 1px;
    border-radius: 5px;
    margin: 20px;
}

.diretorioCotainer{
    border: black solid 1px;
    border-radius: 5px;
    margin: 20px;
}

.arquivoCotainer{
    border: black solid 1px;
    border-radius: 5px;
    margin: 20px;
    
}

.statusCotainer{
}

.statusCotainer > div {
    border: black solid 1px;
    border-radius: 5px;
    position: relative;
    height: 50px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.statusCotainer > div > h3{
    width: auto;
    transform: translateY(-140%);
    position: absolute;
    top: 0;
    left: 10px;
    padding-left: 5px;
    padding-right: 5px;
    background: white;
}
